= simple_form_for @request do |f|

  = f.input :job_size,
  :collection => ['small', 'medium', 'big'],
  :as => :radio_buttons

  = f.input :offer,
  :collection => ['$10', '$20', '$30', '$50'],
  :as => :radio_buttons

  = f.submit 'Submit request'
