- if current_user.shoveler?
  %h2 FOR VOLUNTEER
- @requests.each do |request|
  - if request.offer == 0
    - if current_user.shoveler? || (current_user == request.requester)
      = link_to(request) do
        = request.format_request(request)
        %br
        %br

- if current_user.shoveler?
  %h2 FOR MONEYS
- @requests.each do |request|
  - if request.offer != 0
    - if current_user.shoveler? || (current_user == request.requester)
      = link_to(request) do
        = request.format_request(request)
        %br
        %br
