= render 'requests/form'

%h3 Your requests
.your_requests
  = render :template => 'requests/index'

%h3 Your completed requests
.your_completed_requests
  = render :template => 'requests/index' # FIX THIS LATER
