%h1 Welcome to SnowedIn!
%p SnowedIn is an app to help match shovelers with people who need help shoveling their driveways and sidewalks in the wintertime. There is a volunteer-based system for those that want to help shovel for the elderly and disabled. Let's get shoveling!
