.header
  background-color: black
  color: white


.logo
  font:
    size: 2em
    weight: bold

.header_link
  padding-top: 1em
  text-align: right
  color: gray
  &:not(:last-child)
    padding-right: 1em
