@import 'compass/reset'

html
  line-height: 1.5
  font-family: open sans

h1
  font:
    size: 3em
    weight: bold

h2
  font:
    size: 2em
    weight: bold

h3
  font:
    size: 1.5em
    weight: bold

label
  margin-right: .75em

.wrap
  margin:
    right: auto
    left: auto
  padding:
    right: 20px
    left: 20px
  max-width: 980px
